.myweb{
    width: 1220px;
    height:1150px;
    position: absolute;
    left:150px;
    right:150px;
    top:12px;

}

.myweb4{
    width: 1220px;
    height:290px;
    position: absolute;
    top:230px;

}
.myweb5{
    width: 1220px;
    height:30px;
    position: absolute;
    top:520px;

}
.myweb7{
    width: 1220px;
    height:600px;
    position: absolute;
    top:550px;

}
.myweb6{
    width: 1220px;
    height: 50px;
    background-color: #232323;
    position: absolute;
    top:1150px;

}

.pt1{
    background-size:cover;
    width:300px;
    height:220px;
    top:35px;
    left: 15px;
    position: absolute;
    background-image: url("../photo/seeorder/photo1.jpg");
}